.small_avatar {
    height: 40px;
    border-radius: 100%;
    width: 40px;
    margin: 5px;
}


.big_avatar {
    height: 250px;
    border-radius: 100%;
    width: 250px;
    margin-top: 30px;
    object-fit: cover;
    /* position: absolute; */
    align-self: center;
}


.background {
    height: 220px;
    width: 100%;
    margin: 0px 0px 70px 0px;
    position: relative;
}

.profile {
    position: relative;
}

.header1 {
    color: black;
    font-size: 32px;
    margin: 10px;
}

.header2 {
    color: grey;
    font-size: 24px;
    margin: 0px;
}

.text {
    color: grey;
    font-size: 18px;
    margin: 5px;
}