.body {
  background-color: white;
}
.paper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  margin: 5px;
  background-color: rgb(224, 14, 14);
}

.form {
  width: 100%;
  margin-top: 20px;
}

.submit {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error {
  color: red;
}

.vk {
  height: 50px;
  margin-bottom: 15px;
  align-self: center;
}
.google {
  height: 34px;
  margin: 0px 0px 17px 15px;
  align-self: center;
}

.vk:hover {
  cursor: pointer
}

.google:hover {
  cursor: pointer
}