.active {
    stroke: rgb(90, 90, 90);
}
.active:hover {
    stroke: #a517b5;
    cursor: pointer;
}

.disabled {
    stroke: rgb(200, 200, 200);
}

.disabled:hover {
    cursor: pointer;
    stroke: rgb(200, 200, 200);
}

.page {
    color: rgb(66, 66, 66);
}

.page:hover {
    color: #a517b5;
}


.activePage {
    color: #a517b5;
    font-weight: 600;
}