.small_avatar {
    height: 40px;
    border-radius: 100%;
    width: 40px;
    object-fit: cover;
}
.avatar_container {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.name {
    margin: 0px;
    color: #000000
}

.big_avatar {
    height: 200px;
    border-radius: 100%;
    width: 200px;
    z-index: 2;
    object-fit: cover;
}

.big_avatar:hover {
    height: 200px;
    border-radius: 100%;
    width: 200px;
    opacity: 0.4;
    z-index: 0;
}

.big_avatar_container {
    position: relative;
}

.input {
    display: none;
}

.camera {
    margin-top: 40px;
    position: absolute;
}