.banner {
    width: 450px;
    position: absolute;
    top: 200px;
    right: 20px;
}

.box {
    background-image: url('NEW.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
}

.container {
    position: relative;
}

.title_box {
    margin-top: -58px;
}


