.banner {
    width: 450px;
    position: absolute;
    top: 200px;
    right: 20px;
}

.box {
    background-image: url('./1111.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
}

.container {
    position: relative;
}


.title_box {
    box-shadow: 0 -11px 8px -9px #0000004d;
}


